.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.markazi-text- {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
} */

h1 {
  font-family: "Markazi Text", serif;
  font-size: 6.4vh;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 4vh;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 2vh;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 1.8vh;
  font-weight: 700;
}

p {
  font-size: 1.6vh;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}
